! Title: Personal filter
! Description: Personal filter, compatible with AG, uBo, and BPC.
! Version: 2022-05-31.2
! Expires: 1 days (update frequency)
! Homepage: https://github.com/snhv/filter
! --- Canada ---
@@||canada.ca^$document
@@||gc.ca^$document
! --- YorkU ---
@@||yorku.ca^$document
@@||us.azureauth.duosecurity.com^$document
