! Title: SNHV
! Description: Personal filter, compatible with AdGuard.
! Version: 2020.09.10.1
! Expires: 1 days (update frequency)
! Homepage: https://github.com/snhv/filter
! --- The Economist anti-paywall & unclutter ---
/_app.js$domain=economist.com
||evidon.com^$domain=economist.com
||tiqcdn.com^$domain=economist.com
/subscription-proposition.*$domain=economist.com
/newsletter-signup.*$domain=economist.com
economist.com##.subscription-proposition
economist.com##.subscription-benefits
economist.com##.ds-media-promo, .ds-media-promo--podcasts
! --- Smithsonian Magazine unclutter ---
/subscribe-circulation-promo-*$domain=smithsonianmag.com
smithsonianmag.com##.magazine-signup-form
smithsonianmag.com##.newsletter-signup
! --- York University whitelist ---
@@||schulich.instructure.com^$important,document,~extension
@@||yorku.ca^$important,document,~extension
! --- Government whitelist ---
@@||canada.ca^$important,document,~extension
@@||gc.ca^$important,document,~extension
@@||ontario.ca^$important,document,~extension
@@||on.ca^$important,document,~extension
! --- Good sites whitelist ---
@@||portableapps.com^$important,document,~extension
